body, html {
  padding: 0;
  margin: 0;
  height: 100%;
  background-image: url("./background.jpg");
  text-align: center;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.app-root {
  font-family: bojackFont;
  position: absolute;
  height: 100%;
  width: 100%;
}

@font-face {
  font-family: bojackFont;
  src: url('./ness.ttf');
}

.quotes-header {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
}

.quote-box {
  margin: auto;
  position: relative;
  width: 70%;
}

.quote-text {
  font-size: 18px;
  color: white;
  transition: opacity 1s;
  position: absolute;

  /* centering a absolute positioned element */
  margin: auto;
  left: 0;
  right: 0;
}

.button {
  border-color: rgb(126, 126, 126);
  border: solid;
  cursor: pointer;
  user-select: none;
  font-family: bojackFont;
  color: rgb(255, 255, 255);
  padding: 2% 3%;
  border-radius: 20px;
  border-width: 1px;
  font-size: 20px;
  background-color: rgba(28, 22, 66, 0.425);
  position: sticky;
  top: 400px;
}

button:focus {
  outline:0; /* no blue borders after click */
}

button:hover {
  background-color: rgba(39, 26, 121, 0.425);
}

.volume-button {
  font-size: 20px;
  color: #ccc;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  left: 5px;
}

.volume-button:hover {
  color: white;
}

.credits {
  background-color: #222;
  color: white;
  position: fixed;
  width: 100%;
  bottom: 0;
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: #ccc;
  text-decoration: none;
}

a:hover {
  color: rgb(255, 220, 220);
}
