body, html {
  padding: 0;
  margin: 0;
  height: 100%;
  background-image: url("./background.jpg");
  
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.app-root {
  text-align: center;
  font-family: bojackFont;
}

/*
.app-header {
  background-color: #222;
  padding: 10px;
  color: white;
  font-size: 20pt;
}
*/

@font-face {
  font-family: bojackFont;
  src: url('./ness.ttf');
}

.quotes-header {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
}

.quote-text {
  position: relative;
  color: white;
  font-family: bojackFont;
}

.button {
  border-color: #ccc;
  background-color: transparent;
  border: solid;
  cursor: pointer;
  user-select: none;
  font-family: bojackFont;
  color: white;
  padding: 15px 32px;
  text-decoration: whitesmoke;
  font-size: 16px;
}

button:focus {
  outline:0; /* no blue borders after click */
}

.volume-button {
  font-size: 20px;
  color: #ccc;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  left: 5px;
}

.volume-button:hover {
  color: white;
}

.credits {
  background-color: #222;
  color: white;
  position: fixed;
  width: 100%;
  bottom: 0;
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: #ccc;
  text-decoration: none;
}

a:hover {
  color: rgb(255, 220, 220);
}

/*
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
*/